<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/form.css">
    <title>შეავსე ფორმა !</title>
    <link rel="icon" href="../images/5ea2a86505e63bdd814cf868_Logo.png" type="image/gif" sizes="16x16">
</head>
<body>
    <div class="container">
        <h2>გამოგვიგზავნე შეკვეთა</h2>
        <div class="row100">
            <div class="col">
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span class="text">სახელი</span>
                    <span class="line"></span>
                </div>
            </div>
            <div class="col">
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span class="text">გვარი</span>
                    <span class="line"></span>
                </div>
            </div>
        </div>        
        <div class="row100">
            <div class="col">
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span class="text">მეილი</span>
                    <span class="line"></span>
                </div>
            </div>
            <div class="col">
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span class="text">მობილურის ნომერი</span>
                    <span class="line"></span>
                </div>
            </div>
            <div class="col">
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span class="text">პროდუქტის დასახელება</span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <div class="row100">
            <div class="col">
                <div class="inputBox textarea">
                    <textarea required="required" ></textarea>
                    <span class="text">დამატებითი წერილი</span>
                    <span class="line"></span>
                </div>
            </div>
        </div>        
        <div class="row100">
            <div class="col">
                <a href="orderPlaced.html"><input type="submit" value="შეკვეთის გაგზავნა" ></a>
            </div>
        </div>
    </div>
</body>
</html>